<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WooManSi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TimeTableActivity"
            android:exported="false"
            android:label="@string/title_activity_time_table"
            android:theme="@style/Theme.WooManSi">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.screen.login.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.screen.login.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.screen.main.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ui.screen.login.RegisterActivity" />
        <activity
            android:name=".ui.screen.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screen.group.MemberListActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.screen.group.GroupCreateActivity"
            android:exported="true" />
        <activity
            android:name=".ui.screen.group.GroupInfoActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.screen.group.GroupDetailActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.screen.timetable.createTimeTableActivity"
            android:exported="true"></activity>
    </application>

</manifest>