<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WooManSi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.screen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.screen.main.MainActivity" />
        <activity android:name=".ui.screen.login.RegisterActivity" />
        <activity android:name=".ui.screen.login.LoginActivity" />
        <activity android:name=".ui.screen.group.MemberListActivity" />
        <activity android:name=".ui.screen.group.GroupCreateActivity" />
        <activity android:name=".ui.screen.group.GroupInfoActivity" />
        <activity android:name=".ui.screen.group.GroupDetailActivity" />
        <activity android:name=".ui.screen.timetable.createTimeTableActivity" />
        <activity android:name=".ui.screen.vote.VoteCreateActivity" />
        <activity android:name=".ui.screen.vote.VoteJoinActivity" />
        <activity android:name=".ui.screen.vote.VoteResultActivity" />
    </application>

</manifest>